.mat-toolbar {
  min-height: 25px;
}

.tool-bar {
  background: #17789a;
  color: rgba(255,255,255,.87);
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.tool-bar-text{
  margin: 5px;
}

.form-field-full-width {
  width: 100%;
}

.gender-label {
  padding-right: 25px;
}

